<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Available Files</title>
    <meta name="description" content="Displays all files available for a user to download">
    <meta name="author" content="Richard Horton">
    <link href="style.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <h1>File Share</h1>
    <h3>Welcome to File Share - File Select Page</h3><br/>
    {{#if message}}
    <p class="msg">{{message}}</p>
    <!-- If a message is passed to the page, display it here -->
    {{/if}}

    <table style="width:90%" align="center">
        <tr>
            <th>File</th>
            <th>Uploaded By</th>
            <th>File Type</th>
            <th>File Size</th>
            <th>Hrs. Till Deletion</th>
            <th>Uploaded At</th>
            <th>Link</th>
        </tr>
        {{#each files}}
            <tr>
                <td> <img src="icons/{{this.fileCat}}.png" alt="File Type: {{this.fileCat}}" height=" 50" width="50"/> <p>{{this.fileName}}</p> </td>
                <td>{{this.uploader}}</td>
                <td>{{this.fileType}}</td>
                <td>{{this.fileSize}}</td>
                <td>{{this.timeTillDelete}}</td>
                <td>{{this.dateUploaded}}</td>
                <td><a href="{{this.url}}">Download this file</a></td>
            </tr>
        {{/each}}
    </table>

    <form action="/" class="backButton" name="backBtn">
        <input type="submit" value="Back" />
    </form>

</html>